<div class="dashboard">
    <div class="home-header">
        {{#if search}}
        <h1>Resultado da busca: <span>{{search}}</span></h1>  
        {{#if funcQty}}
                <p>Resultados: <span>{{funcQty}}</span></p>
        {{else}}
                <p>Nenhum Resultado para o termo: <span>{{search}}</span></p>
        {{/if}}
        {{else}}
            <h1><span>Funcionalidades</span>:</h1>
        {{/if}}
        
        <form action="/funcionalidades" method="get">
            <input type="text" name="search" placeholder="Pesquisar">
            <input type="submit" class="btn" value="Buscar">
        </form>
        <div class="order-container">
            <span>Ordenar por:</span>
            <!--mais novo ao mais velho-->
            <form action="/funcionalidades" method="get">
                <input type="hidden" name="search" value="{{this.search}}">
                <input type="hidden" name="order" value="desc">
                <button type="submit"><i class="bi bi-arrow-up"></i></button>
            </form>
            <!--mais velho ao mais novo-->
            <form action="/funcionalidades" method="get">
                <input type="hidden" name="search" value="{{this.search}}">
                <input type="hidden" name="order" value="asc">
                <button type="submit"><i class="bi bi-arrow-down"></i></button>
            </form>
            <a href="/funcionalidades">Limpar</a>
        </div>
    </div> 
    <div class="title-container">
        <h2>Funcionalidades cadastradas</h2>
        <div>
            <a href="/cadastrar-funcionalidade" class="btn">Cadastrar</a>
        </div>

    </div>
    <div class="tabela-produtos">
        <table >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Url</th>
                    <th>Level</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each funcionalidades}}
                <tr>
                    <td><span class="label">{{this.nome}}</span></td>
                    <td><span class="label">{{this.url}}</span></td>
                    <td><span class="label">{{this.nivel}}</span></td>
                    <td>
                        <span class="actions">
                            <form action="/remover-funcionalidade" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <input type="submit" value="Excluir" class="btn">
                            </form>
                        </span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
    <div class="pagination"> 
        {{#if paginacao}}  
        <a href="/funcionalidades/{{paginationLeft}}">&laquo;</a>
        {{#each paginacao}}            
        <a href="/funcionalidades/{{this}}">{{this}}</a>
        {{/each}}
        <a href="/funcionalidades/{{paginationRight}}">&raquo;</a>
        {{/if}}
    </div>
    {{#if emptyFunc}}
        <p>Não Existe Funcionalidades, <a href="/cadastrar-funcionalidade">click aqui</a> para cadastrar.</p>
    {{/if}}
</div>